{
    "trailingComma": "all",
    "semi": true,
    "tabWidth": 2,
    "singleQuote": true,
    "printWidth": 100,
    "endOfLine": "auto",
    "arrowParens": "always",
    "jsxSingleQuote": true,
    "objectWrap": "collapse",
    "singleAttributePerLine": false,
    "plugins": [
        "prettier-plugin-tailwindcss"
    ]
}