@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@custom-variant scrollbars (&.mantine-ScrollArea-root>[data-orientation]>.mantine-ScrollArea-thumb[data-state="visible"]);

@custom-variant scrollbarX (&.mantine-ScrollArea-root>[data-orientation="horizontal"]>.mantine-ScrollArea-thumb[data-state="visible"]);

@custom-variant scrollbarY (&.mantine-ScrollArea-root>[data-orientation="vertical"]>.mantine-ScrollArea-thumb[data-state="visible"]);

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--color-blue-600);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
